<div class="wrapper">
    <!-- Sidebar with filters -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <h2>tutorMe</h2>
        </div>

        <ul class="list-unstyled components">

            {{!-- Filter opitions --}}

            <h4 class="filter-header">Filter Options:</h4>
            <li>
                <a href="#classesSubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Classes:</a>
                <ul class="collapse list-unstyled" id="classesSubmenu">
                    <li>
                        <a onclick="setSelected(this);" data-setting="my" href="javascript:void(0);">My Classes</a>
                    </li>
                    <li>
                        <a onclick="setSelected(this);" data-setting="all" href="javascript:void(0);">All Classes</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#durationSubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Duration:</a>
                <ul class="collapse list-unstyled" id="durationSubmenu">
                    <li>
                        <a onclick="setSelected(this);" href="javascript:void(0);" data-setting="d1">Less than 30
                            min</a>
                    </li>
                    <li>
                        <a onclick="setSelected(this);" data-setting="d2" href="javascript:void(0);">Less than 60
                            min</a>
                    </li>
                    <li>
                        <a onclick="setSelected(this);" data-setting="d3" href="javascript:void(0);">Over 60 min
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#priceSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Price:</a>
                <ul class="collapse list-unstyled" id="priceSubmenu">
                    <li>
                        <a onclick="setSelected(this);" data-setting="free" href="javascript:void(0);">FREE</a>
                    </li>
                    <li>
                        <a onclick="setSelected(this);" data-setting="p2" href="javascript:void(0);">Less than
                            $25</a>
                    </li>
                    <li>
                        <a onclick="setSelected(this);" data-setting="p3" href="javascript:void(0);">Less than
                            $50</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#instructorsSubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Instructors:</a>
                <ul class="collapse list-unstyled" id="instructorsSubmenu">
                    <li>
                        <a onclick="setSelected(this);" data-setting="Instructor" data-id="1"
                            href="javascript:void(0);">James</a>
                    </li>
                    <li>
                        <a onclick="setSelected(this);" data-setting="Instructor" href="javascript:void(0);">Peter</a>
                    </li>
                    <li>
                        <a onclick="setSelected(this);" data-setting="Instructor" href="javascript:void(0);">Jack</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a class="settings" onclick="applySettings();" href="javascript:void(0);">Apply Settings</a>
            </li>
            <li>
                <a href="/students" class="clear">Clear Settings</a>
            </li>
        </ul>

    </nav>

    {{!-- NavBar --}}

    <div class="container-fluid" id="content">

        <nav class="navbar navbar-expand-md navbar-light bg-light ">
            <div class="container-fluid">

                <a class="navbar-brand" href="#"><img src="">
                    <h2>Welcome <span class="student-name"></span>!</h2>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>

        {{!-- student options panel --}}

        <div class="classes-view">

            <div class="classes-header">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        {{!-- SEARCH BAR --}}

                        <form style="float: left;" action="/api/students/search" class="search-form">
                            <i class="fas fa-search"></i>
                            <input type="search" name="term">
                            <input type="submit" value="Search" class="btn btn-info">
                        </form>
                        <nav>

                            <button style="float: right;" type="button" id="sidebarCollapse" class="btn btn-info">
                                <i class="fas fa-align-left"></i>
                                <span>Filter Clases</span>
                            </button>
                        </nav>

                    </div>
                </nav>
            </div>


            {{!-- all classes view --}}

            <div class="container classes-view">

                {{#each classes}}

                <div class="card m-5">
                    <h5 class="card-header">{{topic}}</h5>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <p class="card-text">What you'll learn:
                                <br>
                                {{description}}</p>
                            <br>
                            {{!-- the line below will be visible only for getting all classes from all instructors --}}
                            {{!-- maybe link instructor name to instructor's profile page --}}
                            <li class="list-group-item">
                                <h5 class="card-title">Instructor: {{Instructor.name}}</h5>
                            </li>
                            {{!-- <li class="list-group-item">Date and Time: {{datetime}}</li>
                            <li class="list-group-item">Duration: {{duration}} minutes</li>
                            <li class="list-group-item">Capacity: {{capacity}} people</li>
                            <li class="list-group-item">Price: ${{price}}</li> --}}
                        </ul>
                        <button class="btn btn-primary view-class" data-toggle="modal" data-target="#classDetails"
                            data-class-id={{id}} data-instructor-email={{Instructor.email}} data-backdrop="static"
                            data-keyboard="false">
                            View Class
                        </button>
                    </div>
                </div>
                {{else}}
                <p>No classes available at the moment.</p>
                {{/each}}
            </div>
        </div>

        {{!-- View Class Details Modal --}}

        <div class="modal fade bd-example-modal-lg-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            aria-hidden="true" id="classDetails">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Login Modal Content -->

                    <div class="modal-header">
                        <h5 class="modal-title">Class Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="view-x-btn">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="all-class-details">
                            {{#each classes}}
                            <div class="card class-detail" id="class-{{id}}" style="display: none;">
                                <h5 class="card-header">{{topic}}</h5>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <p class="card-text">What you'll learn:
                                            <br>
                                            {{description}}</p>
                                        <br>
                                        {{!-- the line below will be visible only for getting all classes from all instructors --}}
                                        {{!-- maybe link instructor name to instructor's profile page --}}
                                        <li class="list-group-item">
                                            <h5 class="card-title">Instructor: {{Instructor.name}}</h5>
                                        </li>
                                        <li class="list-group-item">Date and Time: {{datetime}}</li>
                                        <li class="list-group-item">Class Duration: {{duration}} minutes</li>
                                        <li class="list-group-item">Class Capacity: {{capacity}} people</li>
                                        <li class="list-group-item">Price: $ {{price}}</li>
                                    </ul>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        {{!-- add a modal here to doublecheck user's click on delete button --}}
                        <div class="modal-footer">
                            {{#if my}}
                            <button type="button" class="btn btn-danger delete-class" data-toggle="modal"
                                data-target="#deleteClass" data-backdrop="static" data-keyboard="false">Remove</button>
                            {{else}}
                            <button type="button" class="btn btn-secondary add-class-btn">Add this class</button>
                            {{/if}}
                            <a id="emailBtn" href="#" class="btn btn-danger">Email instructor</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="details-close-btn">Close</button>
                            {{!-- <button type="submit" form="l" class="btn btn-default">Login</button> --}}
                        </div>

                    </div>

                </div>
            </div>
        </div>

        {{!-- footer --}}

        <footer>
            <div class="container-fluid padding">
                <div class="row text-center">
                    <div class="col-md-4">
                        <h4>Resources</h4>
                        <hr class="light">
                        <a href="https://www.github.com/" target="_blank"><i class="fab fa-github fa-3x"></i></a>
                        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube fa-3x"></i></a>
                        <a href="https://stackoverflow.com" target="_blank"><i
                                class="fab fa-stack-overflow fa-3x"></i></a>
                        <a href="https://getbootstrap.com" target="_blank"><i class="fab fa-bootstrap fa-3x"></i></a>
                        <a href="https://www.google.com/" target="_blank"><i class="fab fa-google fa-3x"></i></a>
                        <!-- neet to rplace with w3schools or delete 
                                        <i class="fab fa-github fa-3x"></i> -->

                    </div>
                    <div class="col-md-4">
                        <h4>Location</h4>
                        <hr class="light">
                        <p>Full-stack Flex Bootcamp</p>
                        <p>Georgia, Tech</p>
                        <p>Atlanta, GA</p>
                        <p>30308</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Support</h4>
                        <hr class="light">
                        <p>tutorme.supoort@goodquestion.org</p>
                    </div>
                    <div class="col-12">
                        <hr class="light">
                        <h4>&copy; tutorme.com</h4>
                    </div>
                </div>

            </div>
        </footer>

    </div>


</div>


<div class="overlay"></div>


<script>
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        $(".view-class").on("click", function () {
            let classid = $(this).data("class-id");
            let instrucEmail = $(this).data("instructor-email")
            console.log(`#class-${classid}`);
            $(`#class-${classid}`).show();

            $("#emailBtn").attr("href", "mailto:" + instrucEmail)
            $(".add-class-btn").data("class-id", classid);
            $(".delete-class").data("class-id", classid);

            $("#details-close-btn").on("click", function () {
                $(".add-class-btn").removeData("class-id");
                $(".delete-class").removeData("class-id", classid);
                $(`#class-${classid}`).hide();
            });

            $("#view-x-btn").on("click", function () {
                $(".add-class-btn").removeData("class-id");
                $(`#class-${classid}`).hide();
            });
        });
    });
</script>

<script type="text/javascript" src="/js/student.js"></script>
<script type="text/javascript" src="/js/filter.js"></script>